.squad {
  padding: 15px 0 10px;
  border-bottom: 1px solid #424242;
}

.heroes_wrapper {
  display: flex;
  justify-content: space-between;
}

.squad button {
  display: block;
  margin: 20px auto;
}
